<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style type="text/css">

	body{
		background: rgb(54,217,182);
		background: linear-gradient(90deg, rgba(54,217,182,1) 0%, rgba(32,152,126,1) 43%, rgba(0,212,255,1) 100%);
		}

	input{
		border-bottom: 1px solid  #e9e9e9;
		background-color: #fff;
 		padding:10px;
 		margin-top: 10px;
 		margin-bottom: 10px;
 		width: 450px;
 		margin-left: 10px;
 		margin-right: 15px;
		}

	.input-a input{
		padding: 5px;
	}

	input::placeholder {
	  color: #d3d3d3;
	  height: 20px;
	}
	input:placeholder{

	}

	.submit-b{
		  background-color: #36d9b6;
		  border-radius: 0;
		  border:0;
		  color: #fff;
		  width: 500;
		  margin-top: 30px;
		}

	.center-column{
		text-align: center;
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

	.item-row{
		background-color: #906abd;
		margin: 10px auto;
		padding: 10px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
		color: #fff;
	}

	.btn-danger{
		background-color: #ffae19;
		border-color: #e59400;
	}


	.ok{
    background-color: #ffae19;
    color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
    text-align: !important;
    font-size: 16px;
    color: #333;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    margin-left: 25px;
  	}

  	.tn{
  		display: flex;
  		margin-top: 20px;
  		padding: 10px;
  		text-align: center;
  		flex-direction: row;
  		flex-wrap: wrap;
  		justify-content: space-between;
  		align-items: center;
  	}


	
	
</style>

<div class="center-column">
	<div class="item-row">
		<h3>Update Task</h3>
	</div>
		<div class="tn">
		<form method="POST" action="">
			{% csrf_token %}

			<div class="ok">{{form}}</div>
			<div class="input-a">
			<input class="submit-b" type="submit" name="Update Task">
			</div>
		</form>
	</div>
</div>